/* mobile-first styles for smaller screens */
/* Projects styles */

.projects-container {
    margin: 20px 40px 10px 40px;
}

.divider03 {
    width: 100%;
    height: 1.5px;
    position: relative;
    top: 10px;
    background-color: #EF6262;
}

.projects-heading {
    font-family: 'Lilita One', sans-serif;
    font-size: 55px;
    color: #EF6262;
}

.projects-intro {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
}

.project-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.project-content {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
}

.project-content h2 {
    font-size: 40px;
    color: #F3AA60;
    font-family: 'Lilita One', sans-serif;
    line-height: 40px;
    font-weight: 100;
}

.project-image img {
    max-width: 100%;
    max-height: 500px;
    width: 700px;
    margin-bottom: 40px;
    border-radius: 20px;
}

/* Order for posts/projects */
.left {
    order: 2;
}

.right {
    order: 1;
}

/* Background shapes for projects */

.shape02 {
    position: absolute;
    top: 1060px;
    right: 80px;
    width: 75vw;
    height: 230px;
    background-color: #FDD36A;
    border-radius: 20px;
    z-index: -1;
}

.shape03 {
    position: absolute;
    top: 1800px;
    left: 80px;
    width: 75vw;
    height: 230px;
    background-color: #FDD36A;
    border-radius: 20px;
    z-index: -1;
}

.shape04 {
    position: absolute;
    top: 2550px;
    right: 80px;
    width: 75vw;
    height: 230px;
    background-color: #FDD36A;
    border-radius: 20px;
    z-index: -1;
}

.shape05 {
    position: absolute;
    top: 3300px;
    left: 80px;
    width: 75vw;
    height: 230px;
    background-color: #FDD36A;
    border-radius: 20px;
    z-index: -1;
}

/* media query for larger screens (e.g., tablets and desktops) */
@media (min-width: 768px) {

    /* Projects styles */
    .projects-container {
        margin-bottom: 30px;
        margin: 50px 100px 10px 100px;
    }

    .divider03 {
        top: -50px;
    }

    .projects-heading {
        font-size: 100px;
        margin-bottom: 10px;
    }

    .projects-intro {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 90px;
    }

    .project-page-container {
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .project-content {
        flex: 1;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0;
    }

    .project-content h2 {
        font-size: 50px;
        font-weight: bold;
    }

    .project-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-image img {
        margin-bottom: 100px;
    }

    /* Order for posts/projects */
    .project-content {
        order: 2;
    }

    .left .project-image {
        order: 1;
    }

    .project-content {
        order: 1;
    }

    .right .project-image {
        order: 2;
    }

    /* Background shapes for projects */
    .shape02 {
        top: 700px;
        right: 100px;
        width: 700px;
        height: 500px;
    }

    .shape03 {
        top: 1360px;
        left: 100px;
        width: 700px;
        height: 500px;
    }

    .shape04 {
        top: 2020px;
        right: 100px;
        width: 700px;
        height: 500px;
    }

    .shape05 {
        top: 2660px;
        left: 100px;
        width: 700px;
        height: 500px;
    }
}